@page "/"
@inject IJSRuntime js

<button class="btn btn-primary" @onclick="DownloadFile">Don't click here</button>

@code {
    private void DownloadFile()
    {
        var text = "Hello, world!";
        var bytes = System.Text.Encoding.UTF8.GetBytes(text);
        js.SaveAs("HelloWorld.txt", bytes);
    }
}
